*.la
*.lo
*.o
*.pyc
*.swp
*.user
*~
.deps
.libs
/INSTALL
/Makefile
/Makefile.in
/README
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.h
/config.h.in
/config.log
/config.status
/configure
/examples/cpushark/build/
/examples/cpushark/dist/
/libtool
/m4/libtool.m4
/m4/lt*.m4
/src/Makefile
/src/Makefile.in
/src/build/
/src/dist/
/src/frida.egg-info/
/src/frida/Makefile
/src/frida/Makefile.in
/stamp-h1
.idea/
