*.la
*.lo
*.o
*.swp
*~
.deps
.libs
/INSTALL
/Makefile
/Makefile.in
/README
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool
/m4/libtool.m4
/m4/lt*.m4
/src/Makefile
/src/Makefile.in
/stamp-h1
